/********************TAG SELECTORS**********************************/
body {
    margin: 0;
    background-color: #06283D;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    color: #5dbaf8;
    font-size: 5.625rem;
    /*1em = 16px = 100% */
    line-height: 2;
    margin: 50px auto 0;
    font-family: 'M PLUS Code Latin', sans-serif;
}

h2 {
    color: #5dbaf8;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #06283D;
    border-width: 6px;
    width: 5%;
    margin: 2rem auto 2rem auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.btn {
    background: #5dbaf8;
    background-image: -webkit-linear-gradient(top, #5dbaf8, #11999E);
    background-image: -moz-linear-gradient(top, #5dbaf8, #11999E);
    background-image: -ms-linear-gradient(top, #5dbaf8, #11999E);
    background-image: -o-linear-gradient(top, #5dbaf8, #11999E);
    background-image: linear-gradient(to bottom, #5dbaf8, #11999E);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #10999e);
    background-image: -moz-linear-gradient(top, #11999E, #10999e);
    background-image: -ms-linear-gradient(top, #11999E, #10999e);
    background-image: -o-linear-gradient(top, #11999E, #10999e);
    background-image: linear-gradient(to bottom, #11999E, #10999e);
    text-decoration: none;
}

/***********************CLASS SELECTORS***************************/
.sidebar { /* Barra lateral fixa */
    position: fixed;
    left: 0;
    top: 0;
    width: 8%;
    height: 100vh;
    background-color: #111;
    z-index: 9999; /* Fica acima de outros elementos */
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.sidebar-link { /* Links dentro da barra lateral */
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 1rem;    
    transition: background-color 0.2s;
}

.sidebar-link i {
    font-size: 1.5rem; /* Ajuste do tamanho do ícone (ex: 24px) */
}

.sidebar-link:hover {
    color: #EAF6F6;
}

.main-content {
    margin-left: 10%;
    padding: 0;
}

.top-container {
    background-color: #06283D; /* Mesma cor do fundo */
    width: 100%;
    margin: 0;
    padding: 80px 0;
    text-align: center;
    position: relative; /* Para as nuvens absolutas ficarem limitadas a esse container */
    overflow: hidden;
}

.middle-container {
    background-color: #EAFDFC;
    margin: auto auto 2rem auto;
}

.top-cloud {
    position: absolute;
    left: 10%;
    top: 40px;
    width: 10%;
    height: auto;
}

.bottom-cloud {
    position: absolute;
    right: 10%;
    bottom: 40px;
    width: 10%;
    height: auto;
}

#contact-message {
    width: 40%;
    margin: auto;
}

/***********************ID SELECTORS***************************/
#avatar-image {
    width: 10%;
    /* Reduce the width of the image to 50% of its original size */
    height: auto;
    /* Keep the aspect ratio of the image intact */
}

#wave-image {
    display: inline-block;
    width: 3%;
    /* Reduce the width of the image to 50% of its original size */
    height: auto;
}

#control-image {
    display: inline-block;
    width: 3%;
    /* Reduce the width of the image to 50% of its original size */
    height: auto;
}

#skill-row-1 {
    width: 50%;
    margin: 80px auto 150px auto;
    text-align: left;
}

#coding-image {
    width: 25%;
    /* Reduce the width of the image to 50% of its original size */
    float: right;
    margin-left: 30px;
}

#skill-row-2 {
    width: 50%;
    margin: 100px auto 150px auto;
    text-align: left;
}

#computer-image {
    width: 25%;
    /* Reduce the width of the image to 50% of its original size */
    float: left;
    margin-right: 30px;
}

#presentation {
    width: 30%;
    margin: auto;
}

#contact-message {
    width: 30%;
    margin: 40px auto 60px;
}

#description-paragraph {
    font-size: 2.5rem;
}

#programmer-image {
    width: auto;
    /* Reduce the width of the image to 50% of its original size */
    height: 10%
}

#footer-paragraph {
    margin-top: auto;
    padding: 20px 0; /* "Empurra" o texto para o final da barra */
    font-size: 0.75rem;
    color: #EAF6F6;
    text-align: center;
}